data/
checkpoints/
__pycache__/
wandb/
outputs/
remote_outputs/

*.json
logs/*
slurm_logs/*
*.pyc

tmp_sbatch.sh
*.log

*.hydra

*.h5

*.idea

*.zip

cancel.sh

# slurm log files
*.err
*.out

# figure
*.png
*.pdf

# cuda build files
*.egg-info
build*
dist*

.DS_Store
._.DS_Store
.ipynb_checkpoints/